@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/">Home</a>
    </li>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    }
    <li>
        <a href="/faq/guide">User Guide</a>
    </li>
    <li>
        <a href="/faq/terms">Terms and Conditions</a>
    </li>

    <li>
        <a href="https://dashboard.doglogbook.com" target="_blank">Dashboard</a>
    </li>


    <li>@Html.ActionLink("Account Management", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>
        <a href="/contact">@Html.T("NavbarContactUs", "Contact Us")</a>
    </li>

</ul>
